// cargo and rustc
/target/
**/*.rs.bk
Cargo.lock

// Dev tools (editor, IDE, Glade, etc)
*.sublime*
.vscode
\#*.glade\#
.buildconfig
*.swp
Session.vim
*~
tags
flamegraph.*
perf.*
run_mac.sh

// OS specific
.DS_Store

