//
// cargo and rustc
//
/target/
**/*.rs.bk
Cargo.lock

//
// Dev tools (editor, IDE, Glade, etc)
//
*.sublime*
.vscode
\#*.glade\#

//
// OS specific
//
.DS_Store

//
// Application specific
//
config.yml

//
// misc
//
*~
